body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-modal-content {
  padding: 0 !important;
  border-radius: 0 !important;
}
.ant-modal-confirm-body-wrapper {
  padding: 12px !important;
  border-radius: 0 !important;
  background: #181818;
  color: #fff;

  .ant-modal-confirm-content {
    color: rgba(255, 255, 255, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
  }
  .ant-modal-confirm-title {
    color: rgba(255, 255, 255, 0.88);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
  }

  .ant-btn-default {
    background: transparent;
    border-color: #d9d9d9;
    color: rgb(255 255 255 / 88%);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}
  .ant-btn-dangerous {
    color: #fff;
    background: #ff4d4f;
    border: none;
  }
}
/* .ant-modal-confirm  */
/* .ant-modal .ant-modal-content {
  position: relative;
  background-color: #000;
  background-clip: padding-box;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
  padding: 20px 24px;
} */

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #575757;
}
::-webkit-scrollbar-thumb {
  background: #b3b3b3;
}
